<div>
<h3>Edit <%=@user.user%>'s information.</h3>

    
    <%= form_for :users, url: {:action => 'update'} do |f| %>
      <%= f.label "name" %>
      <%= f.text_field("user") %><br>
  
      <%= f.label "age" %>
      <%= f.text_field("age") %><br>
  
      <%= f.label "email" %>
      <%= f.text_field("email") %><br>
      <%=f.submit 'Save'%>
    <% end %>
    
<div>