<div class="row">
    <div class="small-6 small-centered columns">
        <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>   
    
        <%= form_for(:users, method: :put, :url => {:action => 'update'}) do |f| %>
        <h3>Edit <%=@user.user%>'s information.</h3>
    </div> 
    <!--end of top edit info div -->
    
    <div class="small-6 small-centered columns form">
        <p><%= f.label "name" %>
          <%= f.text_field(:user) %></p>
        <br>
  
         <p><%= f.label "age" %>
             <%= f.text_field(:age) %></p>
        <br>
  
          <p><%= f.label "email" %>
            <%= f.text_field(:email) %></p>
        <br>
      
          <%=f.submit 'Save'%>
    <% end %>
    
    </div><!--end of row 1 -->
<div>
    