<div>
<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

    <!-- <form action="/users" method="post">

        <input type="hidden" name="id" value="<%=@user.id%>">

        <label for="name">User Name:</lable>
        <input type="text" name="user" />
        <br>
        <label for="age">Age:</label>
        <input type="integer" name="age"/>
        <br>
        <label for="email">email:</label>
        <input type="text" name="email"/>
        <br>
        <input class="button" type="Submit" value="Log In" />
        <br>
    </form> -->
    
    <%= form_for :users, url: {:action => 'update'} do |f| %>
      <%= f.label "name" %>
      <%= f.text_field("user") %><br>
  
      <%= f.label "age" %>
      <%= f.text_field("age") %><br>
  
      <%= f.label "email" %>
      <%= f.text_field("email") %><br>
      <%=f.submit 'Save'%>
    <% end %>
    
<div>