<h3> Users List </h3>

<div>
    <%@users.each do |user|%>
    <h2><%=user.user%></h2>
    <p><%=user.age%></p>
    <p><%=user.email%></p>
    <%=link_to 'Edit', :action =>edit, id => user.id%>
    <%=link_to 'Destroy', {:action => 'destroy', :id =>user.id}, :confrim=> 'Are you sure you want to delete this user?', :method => :post %> 
<hr>
<%end%>
<%= link_to 'New User', :action => 'new' %>
</div>