<h3> Users List </h3>

<div>
    <%@users.each do |user|%>
    <h2><%=user.user%></h2>
    <p>Age: <%=user.age%></p>
    <p>Email: <%=user.email%></p>
    <%=link_to 'Edit', :action => 'edit', :id => user.id%>

<hr>
<%end%>
<%= link_to 'New User', :action => 'new' %>
</div>