<div>
    
    <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    
    <%= form_for :users, url: {:action => 'create'} do |f| %>

      <%= f.label "name" %>
      <%= f.text_field("user") %>
  
      <%= f.label "age" %>
      <%= f.text_field("age") %>
  
      <%= f.label "email" %>
      <%= f.text_field("email") %>
  
      <%= f.submit %>
    <% end %>
    
</div>