<h1>New User</h1>

<p>
  <%= form_for @user do |f| %>
    <%= f.label :user, 'User Name' %>:<br>
    <%= f.text_field 'user' %><br><br>
    <%= f.label :age, 'Age' %>:<br>
    <%= f.text_field 'age' %><br><br>
    <%= f.label :email, 'Email' %>:<br>
    <%= f.text_field 'email' %><br><br>
    <%= f.submit "Create" %>
  <% end %>
</p>


<%= link_to 'Back', :action => nil %>
