<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<!--Foundations StyleSheet -->
  <link rel="stylesheet" href="../../assets/stylesheets/foundation-5.5.1.custom/css/foundation.css" type="text/css" media="screen" title="no title" charset="utf-8">

<!--Satisfy Font -->
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  
<!--Signika Font -->
  <link href='http://fonts.googleapis.com/css?family=Signika:300,400,600' rel='stylesheet' type='text/css'>
  
</head>
<body>
    <div class="row">
        <div class="header small-12 columns">
            <div class="header-img small-4 small-centered medium-6 medium-centered large-9 large-centered columns">
                <%= image_tag asset_path("crown.png")%>
        
          <h1>Princess Party</h1>  
          </div>
<!--end of header_img -->
        </div><!--end of header class -->   
    </div> <!--end of header row-->
    

    <%= yield %>

</body> <!-- End of Body div -->
</html>
