<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= %>
  
  <link rel="stylesheet" href="../../assets/foundation-5.5.1.custom/css/foundation.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
</head>
<body>
    <div="row header-cont">  
        <div class="small-2 large-4 columns"><p>Hello Friends</p></div>  
        <div class="header ">

            <h1 class="title">Princess party</h1>
        </div>
    </div="header-cont">
<div class="body-cont">
    <%= yield %>
</div class="body-cont">

</body>
</html>
